<a href="https://colab.research.google.com/github/davidwhitemsm/exploratory-data-analysis/blob/master/CSY_018_Summary_Statistics_NYS_Tuition_Assistance_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![v1.0 Jupyter Notebook Summary Statistics Header-01.png]()

Catalogue Number: MSM-E29

Author: David White

Contact: david@msmdesign.nyc | msmdesign.nyc

Acknowledgements: NYC Open Data [https://opendata.cityofnewyork.us/]

Language: Python

Libraries Used: NumPy, pandas

## **About this Dataset**##

**Data Source: State of New York** 

Tuition Assistance Program (TAP) Fall Headcount By College, Sector Group, and Level of Study: Beginning 2000:

The Tuition Assistance Program (TAP), New York's largest student financial aid grant program, helps eligible New York residents attending in-state post-secondary institutions pay for tuition. TAP grants are based on the applicant’s and his or her family’s New York State taxable income. This data includes the number of recipients as measured by students receiving a TAP award for the fall semester beginning academic year 2000. https://catalog.data.gov/dataset/tuition-assistance-program-tap-fall-headcount-by-college-sector-group-and-level-of-study-b

In [32]:
# import the libraries needed for data analysis and visualization

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
# import the dataset from GitHub anf glimpse

data = pd.read_csv("https://raw.githubusercontent.com/davidwhitemsm/selected-open-datasources/master/MSM-DS38-Tuition_Assistance_Program__TAP__Fall_Headcount_By_College__Sector_Group__and_Level_of_Study___Beginning_2000.csv")

In [34]:
data.head()

   Academic Year  TAP College Code  ...  TAP Sector Group TAP Fall Headcount
0           2019              8206  ...    9-CHAPTER XXII                 18
1           2019               940  ...         3-SUNY SO               1936
2           2019               685  ...     5-INDEPENDENT                872
3           2019              6020  ...         3-SUNY SO                557
4           2019              2051  ...     5-INDEPENDENT                  4

[5 rows x 9 columns]

In [35]:
data.columns

Index(['Academic Year', 'TAP College Code', 'Federal School Code', 'Level',
       'TAP Level of Study', 'TAP College Name', 'Sector Type',
       'TAP Sector Group', 'TAP Fall Headcount'],
      dtype='object')

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10153 entries, 0 to 10152
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Academic Year        10153 non-null  int64
 1   TAP College Code     10153 non-null  int64
 2   Federal School Code  10153 non-null  int64
 3   Level                10153 non-null  object
 4   TAP Level of Study   10153 non-null  object
 5   TAP College Name     10153 non-null  object
 6   Sector Type          10153 non-null  object
 7   TAP Sector Group     10153 non-null  object
 8   TAP Fall Headcount   10153 non-null  int64
dtypes: int64(4), object(5)
memory usage: 714.0+ KB

In [37]:
# subset 2019 academic year only

data_2019 = data[data['Academic Year'] == 2019]

In [38]:
# glimpse subset of data

data_2019.head(10)

   Academic Year  TAP College Code  ...  TAP Sector Group TAP Fall Headcount
0           2019              8206  ...    9-CHAPTER XXII                 18
1           2019               940  ...         3-SUNY SO               1936
2           2019               685  ...     5-INDEPENDENT                872
3           2019              6020  ...         3-SUNY SO                557
4           2019              2051  ...     5-INDEPENDENT                  4
5           2019              6093  ...     5-INDEPENDENT                 33
6           2019              1409  ...         1-CUNY SR               5565
7           2019              1405  ...         1-CUNY SR               2344
8           2019              6315  ...     6-BUS. DEGREE                 73
9           2019                35  ...     5-INDEPENDENT                  1

[10 rows x 9 columns]

In [39]:
data_2019.tail(10)

     Academic Year  TAP College Code  ...  TAP Sector Group TAP Fall Headcount
406           2019              8202  ...    9-CHAPTER XXII                 12
407           2019               999  ...     5-INDEPENDENT                 48
408           2019               575  ...     5-INDEPENDENT                241
409           2019              1535  ...           8-OTHER                  6
410           2019              2275  ...     6-BUS. DEGREE                 43
411           2019              1016  ...     5-INDEPENDENT                 20
412           2019               890  ...         3-SUNY SO                 61
413           2019               775  ...     5-INDEPENDENT                  2
414           2019              2300  ...     5-INDEPENDENT                 23
415           2019              7124  ...     6-BUS. DEGREE                129

[10 rows x 9 columns]

##**(1) Find the total number of TAP recipients in 2019**##

In [40]:
headcount_2019 = data_2019['TAP Fall Headcount'].sum()

headcount_2019

258364

##**(2) Find the number of graduatve vs. undergraduate TAP recipients**##

In [41]:
level_2019 = data_2019.groupby('TAP Level of Study')

In [42]:
level_2019['TAP Fall Headcount'].sum()

TAP Level of Study
2 yr Undergrad     78899
4 yr Undergrad    176958
5 yr Undergrad      2507
Name: TAP Fall Headcount, dtype: int64



```
# This is formatted as code
```

##**(3) Find the numer of public vs. private university TAP recipients**##

In [43]:
sector_2019 = data_2019.groupby('Sector Type')

In [44]:
sector_2019['TAP Fall Headcount'].sum()

Sector Type
PRIVATE     68738
PUBLIC     189626
Name: TAP Fall Headcount, dtype: int64

In [45]:
# what perecentage of TAP recipients attended public universities

print(189626/headcount_2019)

0.7339490021829667

##**(4) Find the sector group with the most TAP recipients**##

In [46]:
sector_group = data_2019.groupby('TAP Sector Group')

In [47]:
sector_group['TAP Fall Headcount'].sum()

TAP Sector Group
1-CUNY SR         59647
2-CUNY CC         24891
3-SUNY SO         66085
4-SUNY CC         39003
5-INDEPENDENT     53768
6-BUS. DEGREE      9014
7-BUS. NON-DEG      538
8-OTHER              21
9-CHAPTER XXII     5397
Name: TAP Fall Headcount, dtype: int64

##**(5) Find the total number of colleges attended by TAP recipients in 2019**##

In [48]:
colleges_2019 = len(data_2019['TAP College Name'].unique())

colleges_2019

300

In [53]:
# list all schools attended

data_2019['TAP College Name'].unique()

array(['BEIS MEDRASH HEICHAL DOVID', 'SUNY PLATTSBURGH (UNDERGRAD)',
       'SIENA COLLEGE', 'SUNY COLLEGE OF TECH AT DELHI',
       'DOMINICAN COLLEGE-WEEKEND 4YR UG', 'MARIA COLLEGE 4 YR',
       'CUNY BARUCH COLLEGE', 'CUNY NYC COLLEGE OF TECHNOLOGY',
       'DEVRY COLLEGEE OF NEW YORK 4YR', 'BARD COLLEGE 4YR UNDERGRAD',
       "ST JOHN'S RIVERSIDE HOSP NURS", 'UNION COLLEGE 4YR UNDERGRAD',
       'YESHIVA SHAAR EPHRAIM', 'PLAZA COLLEGE-2YR UNDERGRAD',
       'SUNY ALBANY 4 YR (UNDERGRAD)', 'VILLA MARIA COLL OF BUFFALO 4YR',
       "YESHIVA D'MONSEY", 'SUNY POLYTECHNIC INSTITUTE',
       'MOLLOY COLLEGE 4YR UNDERGRAD', 'ORANGE COUNTY COMMUNITY COLLEGE',
       'CUNY MEDGER EVERS COLLEGE', 'ST JOHN FISHER COLLEGE UNDERGRAD',
       'CUNY JOHN JAY COLLEGE', 'SUC CORTLAND (UNDERGRAD)',
       'SUC PURCHASE (UNDERGRAD)', 'ARNOT OGDEN MED CTR NURSING 4YR',
       'CUNY CITY COLLEGE', 'FASHION INST TECH-LOWER DIVISION',
       'BET MEDRASH GADOL ATEREST TORAH', 'ELMIRA COLLEGE 4YR UNDERGRAD',
       'PRATT INSTITUTE 4YR UNDERGRAD', 'TALMUDICAL SEMINARY OF BOBOV',
       'OHR HAMEIR THEOLOGICAL SEMINARY',
       'ALFRED UNIVERSITY 4YR UNDERGRAD',
       'HOBART AND WILLIAM SMITH COLLS 4Y',
       'BRYANT & STRATTON BBA ALBANY', 'LONG ISLAND UNIV 4 YR UNDERGRAD',
       'TOURO COLLEGE 4YR UNDERGRAD', 'HELENE FULD SCHOOL REG NURS BA',
       'SUNY BUFFALO 4 YR (UNDERGRAD)', 'PHILLIPS BETH ISRAEL NURSING BA',
       'S NASSAU HOSP SCH OF RAD TECH', 'YESHIVA OF THE TELSHE ALUMNI',
       'BRYANT & STRATTON GREECE', 'JAMESTOWN BUSINESS COLL 2 YR ASSO',
       'WELLS COLLEGE', 'TOMPKINS CORTLAND COMM COLLEGE',
       'COL OF MT ST VINCENT 4YR SEM', 'CUNY YORK COLLEGE',
       'BRYANT & STRATTON SYRACUSE', 'MORRISVILLE STATE COLLEGE',
       'RABBINCAL COL BOBOVER YESHIV BNEI',
       'MONROE COLLEGE ASSOCIATES DEG 2YR',
       'SUNY COLLEGE OF TECH AT ALFRED',
       'MACHZIKEI HADATH RABBINICAL COLL',
       'MANHATTANVILLE COLLEGE 4YR UNDERG',
       'ST JOSEPH COL NUR AT ST JOS HOSP', 'SKIDMORE COLLEGE',
       'CUNY BROOKLYN COLLEGE', 'METROPOLITAN COLL OF NEW YORK 4YR',
       'CUNY HERBERT H LEHMAN COLLEGE', 'CORNELL UNIV STATUTORY COLLEGES',
       'ASSOCIATED BETH RIVKAH SCHOOL', 'ST JOSEPHS COLL BROOKLYN 4YR UG',
       'YESHIVAS NOVOMINSK', 'NEW YORK INST TECH 4YR',
       'SUC ONEONTA (UNDERGRAD)', 'SUNY COLLEGE OF TECH FARMINGDALE',
       'BELLEVUE HOSP SCH RADIOLOGIC TECH', 'CAREER SCHOOL OF NY INC',
       'YESHIVA KARLIN STOLIN', 'FULTON MONTGOMERY COMM COLLEGE',
       'PAUL SMITHS COLLEGE 2 YR UNDEGRAD',
       'SUNY COLLEGE OF TECH AT CANTON',
       'NEW YORK UNIVERSITY 4YR UNDERGRAD', 'NYACK COLLEGE 4YR UNDERGRAD',
       'BORICUA COLLEGE 4YR UNDERGRAD', 'ADIRONDACK COMMUNITY COLLEGE',
       'MEDAILLE COLLEGE 4YR UNDERGRAD', 'CANISIUS COLLEGE 4YR UNDERGRAD',
       'KEHILATH YAKOV RABBINCAL SEMINARY', 'PLAZA TEACH-OUT OF NYCI',
       'LEMOYNE COLLEGE 4YR UNDERGRAD',
       'MOUNT ST. MARY COLLEGE 4YR UNDERG', 'SUC FREDONIA (UNDERGRAD)',
       'CUNY COL STATEN ISLAND', 'WESTCHESTER COMMUNITY COLLEGE',
       'ST PETERS HOSP COLLEGE OF NURSING', 'YESHIVA OHR NAFTOLI',
       'SUC GENESEO (UNDERGRAD)', 'JUILLIARD SCHOOL 4YR UNDERGRAD',
       'ARNOT OGDEN MED CTR RAD TECH 2YR', 'BROOME COMMUNITY COLLEGE',
       'FASHION INST TECH UPPER DIVISION',
       'RABBINICAL COLLEGE OF LONG ISLAND',
       'DEVRY COLLEGE OF NEW YORK 2YR',
       'SUC EMPIRE STATE (2 YR UNDERGRAD)',
       'SUNY BINGHAMTON 4 YR(UNDERGRAD)', 'ST BONAVENTURE UNIVERSITY UG',
       "BE'ER YAAKOV TALMUDIC SEMINARY",
       'ROCHESTER INST TECH 4YR UNDERGRAD',
       'CUNY GRAD CTR-SCHOL OF LABOR UG', 'RABBINICAL COLL OHR YISROEL',
       'ONONDAGA COMMUNITY COLLEGE', 'NASSAU COMMUNITY COLLEGE',
       'PACE UNIVERSITY WESTCHESTER', 'MANHATTAN SCHOOL OF MUSIC 4 YR UN',
       'RABBINICAL COLLEGE BETH SHRAGA', 'ITHACA COLLEGE',
       'TROCAIRE COLLEGE', 'MOHAWK VALLEY COMMUNITY COLLEGE',
       'MANHATTAN SCHOOL OF COMPUTER TECH',
       'MANHATTAN COLLEGE 4 YR UNDERGRAD', 'YESHIVA OF MACHZIKAI HADAS',
       'NEW YORK SCHOOL INTERIOR DESIGN',
       'CLARKSON UNIVERSITY 4YR UNDERGRAD',
       'YESHIVA GEDOLAH KESSER TORAH', 'MERCY COLLEGE 4YR UNDERGRAD',
       'FINGER LAKES COMMUNITY COLLEGE', 'CENTRAL YESHIVA BETH JOSEPH',
       'SUNY MARITIME COLLEGE', 'CORNING COMMUNITY COLLEGE',
       'SUC CERAMICS AT ALFRED UNIV 4YR U',
       'WAGNER COLLEGE 4YR UNDERGRAD', 'JAMESTOWN BUSINESS COLL 4YR BBA',
       'MARION S WHELAN PRAC NURSING TRIM', 'COLUMBIA UNIV',
       'THE BELANGER SCHOOL OF NURSING', 'ST JOHNS UNIVERSITY 4YR UG',
       "ST PAUL'S SCH NURSING", 'NY COLL HEALTH PROF 4YR UG',
       'COLL WESTCHESTER ONLINE ASSOC EVE', "YESHIVAS MAHARIT D'SATMAR",
       'CORNELL UNIVERSITY', 'SUNY COBLESKILL',
       'AMERICAN ACAD OF DRAMATIC ARTS', 'MANDL SCHOOL',
       'ERIE COMMUNITY COLLEGE', 'MARIST COLLEGE 4 YR UNDERGRAD',
       'MANHATTAN COLLEGE - 2 YR', 'RABBINICAL COLLEGE OF OHR SHIMON',
       'PAUL SMITHS COLLEGE 4YR UNDERGRAD', 'BARNARD COLLEGE',
       'BRYANT & STRATTON BBA SYRACUSE', "THE KING'S COLLEGE",
       'NORTH COUNTRY COMMUNITY COLLEGE',
       "ST PAUL'S SCH NURSING MED ASSIST",
       'MESIVTA EASTRN PKWY RABBINICAL CL',
       'NY COLLEGE OF HEALTH PROFESSIONS', 'THE NEW SCHOOL 4YR UNDERGRAD',
       "D'YOUVILLE COLLEGE 4 YR UNDERGRAD", 'KEUKA COLLEGE 4YR UNDERGRAD',
       'ST ELIZABETH COLLEGE OF NURSING', 'SAMARITAN HOSP SCH OF NURSING',
       'SUC EMPIRE STATE (UNDERGRAD)',
       'CULINARY INSTITUTE OF AMERICA 4YR', 'BRYANT & STRATTON ALBANY',
       'THE NY CONSERV FOR DRAMATIC ARTS', 'IONA COLLEGE 4YR UNDERGRAD',
       'UTA MESIVTA OF KIRYAS JOEL', 'VASSAR COLLEGE 4YR UNDERGRAD',
       'SUC ENV SCI&FORESTRY 4YRUNDERGRAD',
       'SUC OLD WESTBURY (UNDERGRAD)', 'LONG ISLAND BUS INST UG SEMESTER',
       'HILBERT COLLEGE', 'MONROE COLLEGE BACHELORS DEG 4YR',
       'NIAGARA UNIVERSITY 4YR UNDERGRAD',
       'ADELPHI UNIVERSITY 4 YR UNDERGRAD',
       'YESHIVA SHAAREI TORAH OF ROCKLAND', 'HOUGHTON COLLEGE',
       'SUC BROCKPORT (UNDERGRAD)', 'YESHIVA OF NITRA RABBINICAL COLLE',
       'COLL WESTCHESTER 2YR EVE', 'CUNY MANHATTAN CC',
       'SUC POTSDAM (UNDERGRAD)', 'ST LAWRENCE UNIVERSITY 4YR UG',
       'CAZENOVIA COLLEGE', 'VAUGHN COLL AERONAUTICS TECH',
       'SUC OSWEGO (UNDERGRAD)', 'ST JOSEPHS COLL PATCHOGUE WEEKEND',
       'MONROE COLLEGE NURSING CERT PROG',
       'SCHENECTADY COUNTY COMM COLLEGE',
       'NAZARETH COLLEGE 4YR UNDERGRAD', 'BRYANT & STRATTON BUFFALO',
       'NY COLL TRAD CHINESE MEDICINE', 'ROCKLAND COMMUNITY COLLEGE',
       'PACE UNIVERSITY 4YR UNDERGRAD',
       'CUNY STELLA & CHARLES GUTTMAN CC',
       "ST PAUL'S SCH NURSING MED/DENTAL",
       'METROPOLITAN LEARNING INSTITUTE',
       'COLGATE UNIVERSITY 4YR UNDERGRAD', 'JEFFERSON COMMUNITY COLLEGE',
       'NY SCHOOL MEDICAL & DENTAL ASST',
       'SYRACUSE UNIVERSITY (UNDERGRAD)', 'UNITED TALMUDICAL SEMINARY',
       'COOPER UNION ADVNCMT SCI ART', 'COLL WESTCHESTER 4YR BBA EVE',
       'CUNY QUEENS COLLEGE', 'MERCY COLL ASSOC DEGREE PROGRAM',
       'YESHIVA KOLLEL TIFERETH ELIZER', 'CUNY GRAD SCH UNDERGRAD PROG',
       'CUNY HUNTER COLLEGE', 'ST JOSEPHS COLL PATCHOGUE UG',
       'SUC NEW PALTZ (UNDERGRAD)', 'DOMINICAN COLLEGE BLAUVELT 4YR UG',
       'MARIA COLL-WEEKEND&EVENING GRAD',
       'SYRACUSE UNIVERSITY UTICA COLLEGE', 'WEBB INST OF NAVAL ARCH.',
       'ELYON COLLEGE', 'HERKIMER COMMUNITY COLLEGE',
       'RABBINCL ACAD MESIVTA RABBI CHAIM',
       'SUNY STONY BROOK 4YR UNDERGRAD',
       'HUDSON VALLEY COMMUNITY COLLEGE', 'NY AUTO AND DIESEL INSTITUTE',
       'BERKELEY COLLEGE 4YR', 'ELIM BIBLE INSTITUTE AND COLLEGE',
       'SWEDISH INST QRTLY PROGRAMS', 'BERKELEY COLLEGE 2YR',
       'MONROE COMMUNITY COLLEGE', 'SHOR YOSHUV RABBINICAL COLLEGE',
       'FORDHAM UNIVERSITY', 'PLAZA COLLEGE-BA',
       'ALBANY COLLEGE OF PHARMACY 4YR UG',
       'VILLA MARIA COLL OF BUFFALO 2YR',
       'UNIVERSITY OF ROCHESTER UNDERGRAD', 'JAMESTOWN COMMUNITY COLLEGE',
       'CUNY HOSTOS CC', 'COLUMBIA-GREENE COMMUNITY COLLEGE',
       'YESHIVA SHOLOM SHACHNA', 'BETH HAMEDRASH SHAAREI YOSHER',
       'CUNY KINGSBOROUGH CC', 'DUTCHESS COMMUNITY COLLEGE',
       'LIM COLLEGE', 'THE SAGE COLLEGES 4YR UNDERGRAD', 'MERKAZ BNOS',
       'CONCORDIA COLLEGE', 'TORAH TEMIMAH TALMUDICAL SEMINARY',
       'DAVIS COLLEGE', 'FIVE TOWNS COLLEGE 4YR UNDERGRAD',
       'EMPIRE EDUC CORP (MILDRED ELLEY)',
       'YESHIVA OF FAR ROCKWAY DERECH AY',
       'ASA INST OF BUS NURSING PROGRAM',
       'SWEDISH INSTITUTE 2YR UNDERGRAD', 'HAMILTON COLLEGE',
       'MESIVTA TORAH VODAATH RABBINICAL', 'YESHIVA DERECH CHAIM',
       'ULSTER COMMUNITY COLLEGE', 'MARYMOUNT MANHATTAN COLLEGE',
       'CULINARY INSTITUTE OF AMERICA 2YR',
       'DAEMEN COLLEGE 4YR UNDERGRAD', 'CAYUGA COMMUNITY COLLEGE',
       'TALMUDICAL SEMINARY OHOLEI TORAH', 'SUC BUFFALO (UNDERGRAD)',
       'HELENE FULD SCHOOL REG NURSING',
       'PACIFIC COLL OF ORIENTAL MED 2YR', 'NIAGARA COMMUNITY COLLEGE',
       'EXCELSIOR COLLEGE 4YR UNDERGRAD', 'SUNY DOWNSTATE MEDICAL CENTER',
       'BETH MEDRASH MEOR YITZCHOK', 'RENSSELAER POLYTECHNIC INST UG',
       'COLL WESTCHESTER 4YR BBA DAY', 'CLINTON COMMUNITY COLLEGE',
       'HOFSTRA UNIV 4YR UNDERGRAD', 'COLL WESTCHESTER EVE BACH ONLINE',
       'CUNY QUEENSBOROUGH CC', 'NEW YORK FILM ACADEMY',
       'HARTWICK COLLEGE', 'ST THOMAS AQUINAS COLLEGE UG',
       'ROBERTS WESLEYAN COLL  UG SEMESTE',
       'SAMARITAN HOSPITAL PRAC NURSING', 'COLLEGE OF SAINT ROSE 4YR UG',
       'SULLIVAN COMMUNITY COLLEGE', 'MIRRER YESHIVA CENTRAL INSTITUTE',
       'SARAH LAWRENCE COLL UNDERGRAD', "ST PAUL'S SCH NURSING SI",
       'GENESEE COMMUNITY COLLEGE', 'LONG ISLAND BUS INST 2YR TRIMEST',
       'SCHOOL OF VISUAL ARTS UNDERGRAD', 'BRYANT & STRATTON ROCHESTER',
       'NYACK COLLEGE', 'SUFFOLK COMMUNITY COLLEGE',
       'ELMIRA BUSINESS INST', 'CUNY LAGUARDIA CC',
       'AMERICAN ACADEMY MCALLISTER INST.',
       'MARIA COLL-REGULAR DAY 2YR UG', 'TALMUDICAL INST OF UPSTATE NY',
       'PHILLIPS BETH ISRAEL SCH.NURSING', 'CUNY BRONX CC',
       'ASA INSTITUTE OF BUSINESS', 'CROUSE IRVING HOSP SCH OF NURSING',
       'ST FRANCIS COLLEGE', 'YESHIVATH ZICHRON MOSHE',
       'FINGER LAKES HEALTH COLL NURSING', 'YESHIVA UNIVERSITY',
       'BAIS BINYOMIN ACADEMY', 'ISABELLA GRAHAM HART SCH PRAC NUR',
       'ISLAND DRAFTING & TECHNICAL INST.',
       'UNIV OF ROCHESTER EASTMAN UG', 'SUNY UPSTATE MEDICAL UNIVERSITY',
       'COLL WESTCHESTER 2YR'], dtype=object)

##**(6) Find the school with the most TAP recipients**##

In [49]:
max_students =data_2019.sort_values(by=['TAP Fall Headcount'],ascending=False)

In [50]:
max_students.head(10)

     Academic Year  TAP College Code  ...  TAP Sector Group TAP Fall Headcount
210           2019              1404  ...         2-CUNY CC               7790
77            2019              1010  ...         3-SUNY SO               7439
321           2019              1413  ...         1-CUNY SR               7306
319           2019              1414  ...         1-CUNY SR               6756
324           2019              1416  ...         1-CUNY SR               6058
286           2019               875  ...         3-SUNY SO               6047
65            2019              1410  ...         1-CUNY SR               6024
28            2019              1411  ...         1-CUNY SR               5739
6             2019              1409  ...         1-CUNY SR               5565
14            2019               895  ...         3-SUNY SO               5408

[10 rows x 9 columns]